<!DOCTYPE html>
<html>
  <%- include('head'); -%>
  <body>
    <div class="container-fluid">
        <div class="row">
            <%- include('layout'); -%>
            <div class="col-sm-10">
              <h1><%= title %>: <%= book.name %></h1>
              <p>Do you really want to delete this Book?</p>
                <form method="POST" action="">
                    <div class="form-group">
                        <input id="bookid" class="form-control" type="hidden" name="bookid" required="true" value=<%= book._id %> >
                    </div>
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>